alt_redspec
alt_residlook.log
concise_spec_sequence.pdf
convolver.py
full_wds.txt
good_wds_old.txt
gtc_iraf
Master_info_correct_cm.csv
normalisation_typing.pdf
not_gaia.txt
observing_qc_positions_parseable.txt
obs_log.tex
orig_targetlist_spectraltypes.tex
orig_targetlist.tex
ourvslitspt_quick.png
physical_parameters.csv
plots
plotted_files.csv
R300R_correction_function.txt
spectral_indices
subToMasterTable.py
templates
test_html_out.html
.Rhistory
.idea
.findrvp2.py
J*txt
.classifier.py
.ipynb_checkpoints/
Master_info_mycalcs_cm.csv
Raw/
__pycache__/
arc_fitting.pdf
bt_spectra/
forgaia/
good_wds.bak.txt
gtc_forgaia.tgz
indices_plotted.html
objects.csv
objects_spt.csv
old/
parameter_calculation.png
parameters_book.ipynb
plotted_indices.csv
raw_gtc.tgz
rf_classifier.py
rf_spt.r
spec_typecm.csv
spectral_types.csv
spex_spectra/
temp_cm.csv
OB0055_files
arbitrary_plots/
fitting_plots/
genplots.py
iraf/
lablinelist/
lastsesh.py
reduced.log
reduced/
temp_cpix_vals.txt

