key : value
rawpath : Raw/R2500I/GTC54-15A0/OB0055
redpath : reduced
targetlist : Master_info_correct_cm.csv
head_actual : Target_SHORTNAME
minpix : 5
maxpix : 2051
stripewidth : 100
spatialminpix : 26
spatialmaxpix : 990
cpix : 265
minwave : 7000
maxwave : 11000
maxthread : 1
initsolution : stuart/Osiris_IRAF_ArHgXeNe.csv
tracelinestart : 1292
extractmethod : simple
geocorrect : notgeoshifttest.csv